
.Toastify__toast-container--top-center {
  top: -50px !important;
  transform: translateX(-50%);
  left: 50%;
}

.custom-toast {
  background-color: white !important;
  color: #000000 !important;
  font-size: 1.10rem;
  padding: 2rem !important;
  border-radius: 1rem;
  box-shadow: 0 10px 30px rgba(0, 0, 0, 0.1);
  width: 400px;
  height: 80px;
  max-width: 90%;
  margin: 0 auto;
  display: flex;
  align-items: center;
  justify-content: center;
}
.custom-toast::before {
  content: '';
  position: absolute;
  left: 0;
  top: 0;
  bottom: 0;
  width: 16px;
  border-top-left-radius: 1rem;
  border-bottom-left-radius: 1rem;
}

.Toastify__toast--success.custom-toast::before {
  background-color: #1eaf40 ;
}

.Toastify__toast--error.custom-toast::before {
  background-color: #da172a;
}

.Toastify__toast--warning.custom-toast::before {
  background-color: #ffc107;
}

.Toastify__toast--info.custom-toast::before {
  background-color: #16adc4;
}

.Toastify__progress-bar--success {
  background: #1eaf40 !important;
}
.Toastify__progress-bar--error {
  background: #da172a !important;
}
.Toastify__progress-bar--warning {
  background: #ffc107 !important;
}
.Toastify__progress-bar--info {
  background: #16adc4 !important;
}
.Toastify__progress-bar {
  height: 8px;
  width: 100% !important;
  border-radius: 0 0 0.75rem 0.75rem;
}

@keyframes slideFromTop {
  0% {
    transform: translateY(-100px);
    opacity: 0;
  }
  100% {
    transform: translateY(0);
    opacity: 1;
  }
}